*{
  padding:0;
  box-sizing:border-box;
  margin:0;
  border:0;
}


/* font-family: 'Architects Daughter', cursive;
font-family: 'Caesar Dressing', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Coming Soon', cursive;
font-family: 'Geo', sans-serif;
font-family: 'Geostar Fill', cursive;
font-family: 'Lobster', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Miniver', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif; */